body {
    color: #000000
    font-style: italic;
    text-align: center;
	
	
}


h1 {
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase; 
}



ul {
	font-style: italic;
	padding: 0px;
    list-style-type: none;
    color: #000000;

 }



#slogan {
	font-style: italic;
	text-decoration: none;
	text-align: center;
	color: #000000;
	
} 


p { 
font-style: italic;
color: #000000; 


}

a {
	color: #000000;
	text-decoration: none;
}

/*
div { 
	width: 1300px;
	height: 40px;
	border: 1px solid white;
	display: inline-table;
	text-decoration: none;


}
 #nav {
 	background-color: #ffffff;
 	text-align: center;
 	display: 	
*/
 

}


