@import url(http://fonts.googleapis.com/css?family=Bree+Serif);


body{
    font-family: serif;
    text-align: center;
	background-color: #ffffff;
	margin: 0em;
    font-size: 16px;
  
   

   
}
   
h1{
    font-family: sans-serif;
    padding: 1.5em;
   

}
    


h2{
    font-family: 'Bree Serif', serif;
    color: #ffffff;
    font-size: 8em;
    line-height: 1.688em;
    margin: auto;
    text-align:center; 
    vertical-align: middle;
    display: table-cell; 
}


p{
    line-height: 1.688em;

    font-size: 1em;
    text-align:center; 
    vertical-align: middle;
    display: table-cell; 
}

nav a{
    text-decoration: none;
    color: #ddd;
    font-size: 1.2em;
}

figure img {
    width: 100%;
   
}

hr {
    margin: 0em;
}

/* mouse over link */
.hover:hover {
    color: red;
}


.web{
    display: inline-block;
    width: 10em;


}

.started{
    text-decoration: none;
    line-height: 100px;
    color: #000000;
    border: solid;
    width: 200px;
    padding: 20px;
}


    
 /* mouse over link */
  #hov:hover{
    color: red;
}


  
#A{
    
    display: block;
    /*float: right;*/
  
   width: 100%;
}

#B{
    background-color: #000000;
    display: block;
    /*float: right;*/
  
    width: 100%;
    margin: auto;
}

#C{
    background-color: #000;
    display: block;
    /*float: right;*/
  
    width: 50%;

}


#D{
    background-color: #000;
    display: block;
    float: right;
  
    width: 50%;
}


#header1{
	background-color: #ffffff;
    width: 100%;
    height: 5em;
    background-image: url();
    display: block;
    padding: .75em;

}


#slogan{
  width: 100%;
  height:40em; 
  margin: 0em; 
  display: table; 
  background-image: url(/Users/dan_headon/Desktop/DeathtoStock_NotStock/DeathtoStock_NotStock4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  
}
 





#quote{
    margin: 0px;
    background-color: #ffffff;
    width: 100%;
    font-size: 1em;
    line-height: 1.688em;
    display: table;
}
    




#footer{

    background-color: #ffffff;
    width: 100%;
    height: 100px;
}

/*#backimg{
    height: 65em;
    display: block;
    background-image: url(/Users/dan_headon/Desktop/DeathtoStock_NotStock/DeathtoStock_NotStock4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

*/

    


@media only screen and (max-width: 668px) {

    .web { 
        display: block;
        padding: 2em;
        margin: auto;
    }

 #A {
    width: 100%;
        float: none;
        display: block;

    }

    #B {
        width: 100%;
        float: none;
        display: block;
        
    }
    #C {
         width: 100%;
        float: none;
        display: block;

    }

    #D {
         width: 100%;
        float: none;
        display: block;
    }

    }


@media only screen and (max-width: 595px) {


  #slogan {
    height: 10em;
  }


    h2 {
        font-size: 2em;

    }

  }


   

